html{
  height: auto;
  width: auto;
  margin-top: -30px;
}
header{
  height: auto;
  width: auto;
  text-align: center;
  margin-top: : 80px;
  position: relative;
}
header h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
header a{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
.main{
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png ");
background-size: cover;
height: auto;
width: auto;
text-align: center;
}
.jumbotron .container{
  height: auto;
  width: auto;
  margin: 5px;
  text-align: center;
}
.jumbotron h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
.jumbotron h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
.supporting{
  height: auto;
  width: auto;
  margin: 5px;
  text-align: center;
}
.supporting{
  height: 30px;
  width: auto;
  margin: 5px;
}
.supporting #design{
  padding: 5px  0px;
  font-weight: bold;
}
.supporting{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
footer{
  margin: 0px;
  padding: 0px;
  margin-top: 350px;
}

footer .row{
  height: 30px;
  display: flex;
  align-items: center;
  color: white;
  background-color:  dimgray;
  font-family: Helvetica;
  font-weight: normal;
  }
footer li{
  color: white;
  display: inline-block;
  text-decoration: none;
  }
  footer h5{
  font-size: 11px;
  font-weight: normal;
  }
  footer a{
  color: white;
  font-size: 18px;
  }
.col-md-8{
  margin-left: -35px;
}
